.App {
  margin: 10% auto;
  text-align: center;
  line-height: 10px;
}

.prof{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 5%;
}

.details{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

span{
    font-size: 15px;
    font-weight: 700;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
}

.loading p {
  margin-top: 10px;
  font-size: 18px;
  color: #2904fd75;
}

@media (prefers-reduced-motion: no-preference) {
  
  
}

